{% extends 'layouts/guest.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="px-10 mt-10">
    <h1 class="text-center text-6xl">Sign in</h1>
        <div class="flex justify-center flex-col mt-16">
            <form method="post" class="mx-auto max-w-lg px-12 py-6 text-xl w-full text-center space-y-6">
            
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <div>
                    <label for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="border-b border-gray-300 w-3/4 bg-gray-100 block mx-auto focus:outline-none text-center" autocomplete="email" required autofocus>
                </div>
                <div>
                    <label for="inputPassword">Password</label>
                    <input type="password" name="password" id="inputPassword" class="border-b border-gray-300 w-3/4 bg-gray-100 block mx-auto focus:outline-none text-center" autocomplete="current-password" required>
                </div>
                <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
                >

                <button class="px-4 py-2 bg-black text-white rounded-md hover:text-gray-300 mt-4" type="submit">
                    Sign in
                </button>
            </form>
            <p class="text-xl text-center">Don't have an account?</p>
            <a href="{{ path('register') }}" class="text-center mt-2 text-gray-500 hover:text-gray-700">Sign up</a>
        </div>
</div>
{% endblock %}
