{% extends 'layouts/base.html.twig' %}


{% block title %} Women {% endblock %}

{% block body %}
    <div class="hero-top" style="background-image: url('{{ asset('images/images/hero-women.jpg') }}');">
        <div class="hero-shadow"></div>
    </div>
{% endblock %}